{% extends 'base.html' %}

<head>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="static/styles.css">
    <title>Drama Llama</title>
</head>
{% block body %}
<body>

<div class="homepage">

    <img src="http://orig15.deviantart.net/e238/f/2011/281/7/6/fancy_llama_by_silvazelover2-d4c9hk1.png">

    <h2>Leave the coding drama to your llama.</h2>

    <a href="/application-form" class="btn btn-lg btn-primary">Become a Llama!</a>

</div>

</body>
{% endblock %}
</html>